table.report-table {
    display: none;
    width: 100%;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    background-color: hsl(240, 15%, 5%);
}

td {
    max-width: 50rem;
    white-space: nowrap; /* Prevents text from wrapping to next line */
    overflow: hidden; /* Hides any text that overflows the element */
    text-overflow: ellipsis; /* Displays "..." to indicate truncated text */
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: hsl(240, 15%, 13%);
}

pre.rawJson {
    display: none;
}

dialog {
    width: 90%;
    height: 90%;
    overflow-y: auto;
    position: fixed;
    padding: 1rem;
    background-color: hsl(240, 15%, 8%);
    color: hsl(0, 0%, 97%); /* Modern color for text */
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow effect */
    border-radius: 4px;
}

dialog::backdrop {
    background-color: rgba(230, 230, 230, 0.5);
}

#okButton {
    background-color: hsl(240, 15%, 9%); /* Modern color for button background */
    color: hsl(0, 0%, 97%); /* Modern color for text */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#download {
    background-color: hsl(240, 15%, 9%); /* Modern color for button background */
    color: hsl(0, 0%, 97%); /* Modern color for text */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#download:hover {
    background-color: hsl(240, 15%, 13%); /* Modern color for button hover */
    margin-top: 1px;
    margin-bottom: 1px;
}

div.separator {
    height: 10px;
    width: 100%;
    margin: 1rem 0;
}
