table.report-table {
    display: none;
    width: 100%;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    background-color: bisque;
}

td {
    max-width: 50rem;
    white-space: nowrap; /* Prevents text from wrapping to next line */
    overflow: hidden; /* Hides any text that overflows the element */
    text-overflow: ellipsis; /* Displays "..." to indicate truncated text */
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

pre.rawJson {
    display: none;
}

dialog {
    width: 90%;
    height: 90%;
    overflow-y: auto;
    position: fixed;
    background-color: darkseagreen;
    padding: 1rem;
}

dialog::backdrop {
    background-color: rgba(230, 230, 230, 0.5);
}

#okButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: darkseagreen;
}

#download {
    margin-top: 10px;
    margin-bottom: 10px;
}
