body.popup {
    width: 25rem;
    padding: 1rem;
}

table.report-table {
    display: none;
}

td {
    max-width: 50rem;
    white-space: nowrap; /* Prevents text from wrapping to next line */
    overflow: hidden; /* Hides any text that overflows the element */
    text-overflow: ellipsis; /* Displays "..." to indicate truncated text */
}

pre.rawJson {
    display: none;
}
